body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 3;
}
.first-head{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5FBFF;
}
.contact-area{
    margin-right: -75px;
}
.contact-area ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.contact-area ul li{
    padding: 20px;
}
.contact-area ul li a{
    text-decoration: none;
    color: rgba(41, 41, 41,0.7);
    font-size: 15px;
}
.contact-area ul li a i{
    color: #5DB2FF;
    padding: 0px 4px;
}
.icon-area{
    margin-left: 30px;
}
.icon-area i{
    padding: 0px 8px;
    font-size: 15px;
    cursor: pointer;
    color: rgba(41, 41, 41,0.7);
}
.icon-area i:hover{
    color: #009DFF;
}
.icon-area .contact-area{
    max-width: 50%;
}


.logo{
    cursor: pointer;
}
.a-nav{
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35px;
    background-color: #fff;
}
.b-nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -100px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav ul li{
    padding: 0px 18px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: rgba(41, 41, 41,0.7);
    font-size: 15px;
    font-weight: bold;

}
.nav ul li a:hover{
    color: rgb(41, 41, 41)
}
.dropdown-manu{
    display: none;
}
.nav ul li:hover .dropdown-manu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    padding: 10px;

}
.nav ul li:hover .dropdown-manu ul{
    display: block;
    margin: 10px 0px 0px -40px;
}
.nav ul li:hover .dropdown-manu ul li{
    width: 150px;
    padding: 10px;
}
.batton{
    margin-left: -110px;
}
.batton input{
    padding: 12px 26px;
    background-color: #009DFF;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    transition: 0.5s;
}
.batton input:hover{
    background-color: #fff;
    color: #009DFF;
    border: 1px solid #009DFF;
}
.checkbtn{
    display: none;
    font-size: 30px;
    
}
#check{
    display: none;
}



.section1{
    width: 100%;
    height: auto;
    position: relative;
    top: 81px;
}
.text{
    width: 80%;
    position: relative;
    top: 265px;
    left: 40px;
}
.text input{
    padding: 18px 44px;
    background: linear-gradient( to right,#0181f5 40%, #5db2ff 100%);
    color: #fff;
    font-size: 15px;
    font-weight: 550;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s;
}
.text input:hover{
    background: #fff;
    color: #009DFF;
    border: 1px solid #009DFF;
}
.text p{
    color: #727272;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    bottom: 10px;
    left: -35px;
}
.tx1{
    font-size: 37px;
    font-weight: 700;
    color: #1f1f1f;
    line-height: 0px;
    letter-spacing: 3px;
}
.tx2{
    font-size: 37px;
    letter-spacing: 3px;
    font-weight: 300;
    color: #1f1f1f;
    line-height: 8px;
}


.image1{
    background-image: url(image/slide1.2.jpg);
    width: 100%;
    height: 700px;
    animation: pqpq 8s  infinite linear;
    background-size: 100% 88%;
    background-repeat: no-repeat;
}

@keyframes pqpq{
    0%{
        background-image: url(image/slide1.2.jpg);
        width: 100%;
        height: 700px;
    }
    35%{
        background-image: url(image/slider2.png);
        width: 100%;
        height: 700px;
    }
    70%{ background-image: url(image/slider2.png);
        width: 100%;
        height: 700px;
    }
    100%{
        background-image: url(image/slide1.2.jpg);
        width: 100%;
        height: 700px;
    }
}



.section2{
    width: 100%;
    height: 350px;
    position: relative;
    top: -5px;
}
.services{
    width: 100%;
    height: 350px;
    display: flex;
    background-color: #83C4FF;
}
.sr1 .sr2 .sr3{
    max-width: 33%;
}
.sr1{
    padding: 30px 60px 0px 60px;
    color: #fff;
}
.sr1 h1{
    font-size: 26px;
    position: relative;
    top: 18px;
}
.sr1 p{
    font-size: 16px;
    line-height: 1.5;
}
.sr1 i{
    font-size: 70px;
    position: relative;
    top: 30px;
}
.sr1 input{
    padding: 9px 28px;
    background-color: #83C4FF;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    position: relative;
    top: 15px;
    transition: 0.5s;
}
.sr1 input:hover{
    background-color: #fff;
    color: #009DFF;
    border: 1px solid #fff;
}
.sr2{
    color: #fff;
    background-color: #5DB2FF;
    padding: 30px 75px 0px 50px;
}
.sr2 h1{
    font-size: 26px;
    position: relative;
    top: 18px;
}
.sr2 p{
    font-size: 16px;
    line-height: 1.5;
}
.sr2 i{
    font-size: 70px;
    position: relative;
    top: 30px;
}
.sr2 input{
    padding: 9px 24px;
    background-color: #5DB2FF;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    position: relative;
    top: 15px;
    transition: 0.5s;
}
.sr2 input:hover{
    background-color: #fff;
    color: #009DFF;
    border: 1px solid #fff;
}
.sr3{
    color: #fff;
    padding: 30px 40px 0px 40px;
}
.sr3 h1{
    font-size: 26px;
    position: relative;
    top: 18px;
}
.sr3 p{
    font-size: 16px;
    line-height: 1.5;
}
.sr3 i{
    font-size: 70px;
    position: relative;
    top: 30px;
}
.sr3 input{
    padding: 9px 24px;
    background-color: #5DB2FF;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    position: relative;
    top: 15px;
    transition: 0.5s;
}
.sr3 input:hover{
    background-color: #fff;
    color: #009DFF;
    border: 1px solid #fff;
}




.section3{
    width: 100%;
    height: 350px;
    position: relative;
    top: 200px;
}
.all{
    width: 100%;
    display: flex;
}
.img, .txtx{
    width: 50%;
}
.img2 img{
    width: 280px;
    height: 358px;
}
.b{
    position: relative;
    left: 130px;
    bottom: 325px;
}
.img{
    position: relative;
    left: 40px;
}
.txtx{
    width: 40%;
    margin-left: 80px;
}
.txtx h2{
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
}
.txtx h3{
    font-size: 36px;
    font-weight: bold;
    color: #1F1F1F;
    margin-bottom: 10px;
}
.txtx p{
    font-size: 16px;
    color: #727272;
    line-height: 28px;
}
.txtx ul li{
    color: #727272;
    font-size: 16px;
    list-style: none;
}
.txtx ul li i{
    margin-left: -30px;
    position: relative;
    top: 39px;
    color: #5DB2FF;
}
.txtx input{
    padding: 9px 24px;
    font-size: 15px;
    background-color: #fff;
    color: #009DFF;
    border: 2px solid #5DB2FF;
    border-radius: 5px;
    transition: 0.5s;
}
.txtx input:hover{
    background-color: #5DB2FF;
    color: #fff;
}



.section4{
    width: 100%;
    height: 1250px;
    position: relative;
    top: 520px;
    background-color: #F5FBFF;   
}
.tx3 h3{
    font-size: 36px;
    position: relative;
    left: 350px;
    top: 150px;
    color: #1F1F1F;
    line-height: 10px;
}
.tx3 p{
    position: relative;
    left: 310px;
    top: 150px;
    font-size: 16px;
    color: #727272;
}
.p2{
    margin-top: -19px;
    margin-left: 35px;
}
.all-services{
    width: 95%;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
    top: 150px;
}
.all-services img{
    width: 307px;
    height: 200px;
    position: relative;
    left: -5px;
    top: -5px;
    transition: 1s;
}
.all-services img:hover{
    transform: scale(1.2);
    z-index: 2;
}
.c-sr1, .c-sr2{
    width: 100%;
    overflow: hidden;
}
.c-sr2{
    padding-top: 30px;
}
.c-sr1 div, .c-sr2 div{
    width: 31%;
    float: left;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
}
.c-sr1 div{
    margin-left: 12.3px;
    padding-bottom: 20px;
}
.c-sr2 div{
    margin-left: 12.3px;
    padding-bottom: 20px;
}
.c-sr1 h3, .c-sr2 h3{
    font-size: 22px;
    line-height: 33px;
}
.c-sr1 .h3 a, .c-sr2 .h3 a{
    text-decoration: none;
    color: #1F1F1F;
}
.c-sr1 .h3 a:hover, .c-sr2 .h3 a:hover{
    text-decoration: none;
    color: #007bff;
}
.c-sr1 div a{
    text-decoration: none;
    color: #007bff;
    position: relative;
    left: 14px;
}
.c-sr2 div a{
    text-decoration: none;
    color: #007bff;
    position: relative;
    left: 14px;
}
.c-sr1 div a:hover{
    text-decoration: underline;
}
.c-sr1 p, .c-sr2 p{
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    position: relative;
    left: 14px;
    bottom: 13px;
}



.section5{
    width: 100%;
    height: 620px;
    position: relative;
    top: 520px;
}
.ll{
    background-image: url(image/back1.1.jpg);
    width: 100%;
    height: 620px;
    animation: abab 11s  infinite linear;
}

@keyframes abab{
    0%{
        background-image: url(image/back1.1.jpg);
    }
    35%{
        background-image: url(image/back2.1.jpg);
    }
    70%{ background-image: url(image/back2.1.jpg);
    }
    100%{ background-image: url(image/back1.1.jpg);
    }
}
.mmm{
    color: #646E73;
    margin-left: 60px;
}
.cot{
    font-size: 40px;
    color: #646E73;
    position: relative;
    top: 188px;
    left: 362px;
    margin-bottom: 216px;
}
.dt{
    font-size: 20px;
    line-height: 10px;
    margin-left: 58px;
}
.c1{
    position: relative;
    left: 40px;
}
.c3{
    position: relative;
    left: 125px;
}
.mn{
    font-weight: bold;
    position: relative;
    left: 385px;
    top: 60px;
}
.nm{
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: 374px;
    top: 50px;
}


.section6{
    width: 100%;
    height: 320px;
    position: relative;
    top: 402px;
}
.aa{
    width: 100%;
    height: auto;
    margin: 100px auto;
    position: relative;
}
.ab{
    font-size: 20px;
    color: #1F1F1F;
    padding: 35px 70px 35px 40px; 
}
.care{
    position: absolute;
    left: 0;
    
}
.care2{
    display: flex;
    position: relative;
    top: 20px;
}
.bb img{
    width: 460px;
    height: 260px;
    position: relative;
    left: 50px;
    
}
.ba i{
    padding-right: 350px;
    font-size: 50px;
    color: #5DB2FF;
}
.ba{
    margin-left: 45px;
}
.ba h1{
    font-size: 20px;
    font-weight: 550;
    color: #1F1F1F;
}
.ba p{
    font-size: 16px;
    font-weight: 300;
    color: #727272;
    letter-spacing: 1px;
}
.pa li{
    display: inline-block;
}
.pa [id^=label]:checked~.care{
    display: block;
}
.pa input[type="radio"]{
    position: relative;
    top: 80px;
    left: 13px;
}
.pa label{
    padding: 10px 30px;
    margin-left: 100px;
}
.bc{
    margin-left: 43px;
    position: relative;
    top: 50px;
    color: rgba(0, 0, 0, 0.2);
}



.section7{
    width: 100%;
    height:auto;
    position: relative;
    top: 770px;
}
.cb{
    font-size: 23px;
    font-weight: 500;
    color: #1F1F1F;
    margin-left: 35px;
    margin-bottom: 55px;
}
.cc{
    display: flex;
}
.cc div{
    margin: 0 auto;
    transition: 0.3s;
    background-color: #F5FBFF;
}
.cc div:hover{
    background-color: #5DB2FF;
}
.cc div h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1px;
    position: relative;
    left: 75px;
    transition: 0.3s;
}
.cc div:hover h3{
    color: #fff;
}
.cc div:hover p{
    color: #fff;
}
.cc div p{
    color: #919191;
    font-size: 13px;
    transition: 0.3s;
    position: relative;
    left: 95px;
}
.cc div img{
    transition: 1s;
}
.cc div:hover img{
    border-radius: 8px;
    transform: scale(1.1);
    z-index: 2;
}



.section8{
    width: 100%;
    height:auto;
    position: relative;
    top: 950px;
}
.last-se{
    width: 100%;
    display: flex;
}
.last-se div{
    width: 50%;
}
.last-se1{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(image/z.webp);
}
.last-se2{
    background-image: url(image/z2.3.jpg);
    
}
.last-se h3{
    font-size: 20px;
    color: rgba(0, 0, 0,0.8);
    font-weight: 600;
}
.last-se p{
    font-size: 13px;
}
.last-se h3,p{
    margin-left: 35px;
}
.last-se1 input{
    position: relative;
    left: 330px;
    bottom: 35px;
}
.last-se1 h3{
    position: relative;
    top: 37px;
}
.last-se1 p{
    position: relative;
    top: 28px;
    margin-bottom: 32px;
}
.last-se2 h3{
    position: relative;
    top: 88px;
}
.last-se2 p{
    position: relative;
    top: 77px;
}
.last-se2 input{
    position: relative;
    left: 321px;
    bottom: -32px;
}
.last-se input{
    padding: 9px 15px;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 28px;
    background-color: rgba(0, 123, 255, 0.7);
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
}
.last-se input:hover{
    background-color: #fff;
    color: rgb(0, 123, 255);
}



footer{
    width: 100%;
    height:auto;
    position: relative;
    top: 950px;
}
.foot1{
    background-color: #1F1F1F;
}
footer .foot1 p,a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
footer .foot1 a{
    text-decoration: none;
}
footer .foot1 ul li{
    list-style: none;
}
footer .foot1 div{
    width: 90%;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
}
footer .foot1 img{
    color: #fff;
    position: relative;
    bottom: 40px;
}
footer .foot1{
    display: flex;
    padding-top: 165px;
    padding-bottom: 120px;
}
footer .foot1 p{
    margin-right: -120px;
    position: relative;
    right: 33px;
    bottom: 25px;
    line-height: 26px;
}
footer .foot5 p{
    position: relative;
    bottom: 45px;
}
footer .foot1 h3{
    color: #fff;
    position: relative;
    bottom: 53px;
    font-size: 22px;
    font-weight: 400;
}
footer .foot2 i{
    font-size: 50px;
    color: #707070;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
footer .foot3 h3{
    position: relative;
    left: 37px;
}
footer .foot3 ul li{
    line-height: 38px;
    position: relative;
    bottom: 36px;
}
footer .foot4 ul li{
    line-height: 38px;
    position: relative;
    bottom: 36px;
    right: 35px;
}
footer .foot5{
    position: relative;
    right: 35px;
}
footer .foot-last{
    background-color: #000000;
    color: #919191;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    margin-top: -7px;
    font-size: 16px;
    font-weight: 400;
}
footer .foot-last a{
    text-decoration: none;
    color: #5DB2FF;
}


@media (max-width:768px){
    .checkbtn{
        display: block;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.9);
        float: right;
        line-height: 80px;
        margin-right: -280px;
    }
    #check{
        display: none;
    }
    
    header{
        width: 73.6%;
        height: auto;
    }
    header .logo{
        margin-left: -104px;
        padding: 20px;
    }
    header .a-nav .b-nav .nav ul{
        position: fixed;
        width: 30%;
        height: 88vh;
        background-color: #f9f9ff;
        top: 103px;
        left: -200%;
        transition: all 1.1s;
    }
    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
    }
    header .nav ul li a{
        font-size: 20px;
        text-align: center;
    }
    .batton{
        display: none;
    }
    .first-head{
        width: 100%;
    }
    .contact-area{
        margin-right: 0px;
    }
    .a-nav{
        width: 100%;
    }
    .b-nav{
        margin-left: -440px;
    }
}
@media (max-width:768px){
    .section1{
        width: 73.6%;
    }
    .section1 .image1{
        background-size: 100% 63%;
        background-repeat: no-repeat;
    }
    .text{
        position: relative;
        top: 140px;
        left: 55px;
    }
    .tx1{
        font-size: 28px;
    }
    .tx2{
        font-size: 27px;
    }
    .text p{
        font-size: 14px;
    }
    .text input{
        padding: 15px 15px;
        font-size: 13px
    }

    .section2{
        width: 73.6%;
        top: -179px;
        height: 245px;
    }
    .services{
        width: 100%;
        height: 244px;
    }
    .sr1{
        padding: 0px 30px 0px 8px;
    }
    .sr2{
        padding: 0px 30px 0px 8px;
    }
    .sr3{
        padding: 0px 30px 0px 8px;
    }
    .sr1 i{
        font-size: 33px;
    }
    .sr1 h1{
        font-size: 20px;
    }
    .sr1 p{
        font-size: 8px;
        position: relative;
        top: 10px;
        right: 34px;
    }
    .sr1 input{
        padding: 5px 10px;
        font-size: 10px;
    }
    
    .sr2 i{
        font-size: 33px;
        position: relative;
        left: 5px;
    }
    .sr2 h1{
        font-size: 20px;
        position: relative;
        left: 5px;
    }
    .sr2 p{
        font-size: 8px;
        position: relative;
        top: 10px;
        right: 29px;
    }
    .sr2 input{
        padding: 5px 10px;
        font-size: 10px;
        position: relative;
        left: 5px;
    }

    .sr3 i{
        font-size: 33px;
        position: relative;
        left: 5px;
    }
    .sr3 h1{
        font-size: 20px;
        position: relative;
        left: 5px;
    }
    .sr3 p{
        font-size: 8px;
        position: relative;
        top: 10px;
        right: 29px;
    }
    .sr3 input{
        padding: 5px 10px;
        font-size: 10px;
        position: relative;
        left: 5px;
    }


    .section3{
        width: 73.6%;
        position: relative;
        top: -85px;
    }
    .all{
        display: block;
    }
    .txtx{
        width: 47%;
        margin-top: -290px;
    }
    .txtx h3{
        width: 100%;
        font-size: 23px;
        font-weight: 550;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .txtx p{
        margin-left: 2px;
        margin-right: -95px;
    }
    .txtx ul li i{
        margin-left: -38px;
    }
    

    .section4{
        width: 73.6%;
        position: relative;
        top: 655px;
    }
    .tx3 h3{
        position: relative;
        left: 103px;
    }
    .tx3 p{
        position: relative;
        left: 27px;
    }
    .tx3 .p2{
        position: relative;
        left: 66px;
    }
    .c-sr1 div{
        width: 100%;
        padding: 20px;
        margin-bottom: 53px;
    }
    .all-services img{
        width: 169px;
        height: 120px;
    }
    .c-sr1 h3{
        font-size: 17px;
        line-height: 1px;
        margin-left: -2px;
    }
    .c-sr1 p{
        width: 100%;
        position: relative;
        left: -38px;
        top: 4px;
        font-size: 11px;
    }
    .c-sr1 div a{
        position: relative;
        left: -2px;
    }
    .c-sr2{
        padding-top: 0px;
    }
    .c-sr2 div{
        padding: 16px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 6px;
    }
    .c-sr2 div a{
        position: relative;
        left: 0px;
        bottom: 16px;
    }
    .c-sr2 h3{
        font-size: 17px;
        line-height: 25px;
        margin-left: -2px;
        margin-top: 5px;
        position: relative;
        top: 17px;
    }
    .c-sr2 p{
        width: 100%;
        position: relative;
        left: -35px;
        top: -10px;
        font-size: 11px;
    }
    .all-services{
        display: flex;
    }


    .section5{
        width: 73.6%;
        position: relative;
        top: 745px;
        height: 392px;
    }
    .ll{
        background-size: 100% 63%;
        background-repeat: no-repeat;
    }
    .mmm{
        margin-left: -90px;
    }
    .cot{
        width: 10%;
        font-size: 35px;
        position: relative;
        top: 49px;
        left: 318px;
        margin-bottom: 82px;
    }
    .dt{
        font-size: 13px;
        line-height: 8px;
    }
    .mn{
        width: 15%;
        position: relative;
        left: 305px;
        top: 18px;
    }
    .nm{
        width: 20%;
        position: relative;
        left: 293px;
        top: 9px;
    }


    .section6{
        width: 73.6%;
        position: relative;
        top: 728px;
    }
    .aa{
        margin: 0 auto;
    }
    .ab{
        font-size: 12px;
        padding: 0px 25px 0px 0px;
    }
    .pa label{
        padding: 0px 0px;
        margin-left: 0px;
        
    }
    .pa ul{
        margin-left: 0px;
    }
    .pa input[type="radio"]{
        position: relative;
        top: 33px;
        left: -20px;
    }
    .care{
        width: 100%;
    }
    .ba{
        margin-left: 15px;
    }
    .ba i{
        font-size: 40px;
        padding-right: 230px;
    }
    .ba h1{
        font-size: 13px;
    }
    .ba p{
        margin-left: 1px;
        font-size: 8px;
    }
    .bb img{
        width: 201px;
        height: 162px;
        position: relative;
        left: 0px;
    }
    .bc{
        margin-left: 0px;
        position: relative;
        top: 35px;
    }
    .section7{
        width: 73.6%;
        position: relative;
        top: 850px;
    }
    .cb{
        font-size: 20px;
        margin-left: 195px;
    }
    .cc div img{
        width: 155px;
        height: 135px;
    }
    .cc div h3{
        position: relative;
        left: 22px;
    }
    .cc div p{
        position: relative;
        left: 10px;
    }


    .section8{
        width: 73.6%;
    }
    .last-se1{
        background-size: 193% 100%;
        background-repeat: no-repeat;
    }
    .last-se2{
        background-size: 113% 100%;
        background-repeat: no-repeat;
    }
    .last-se1 h3{
        position: relative;
        top: -18px;
        right: 15px;
    }
    .last-se1 p{
        position: relative;
        top: -26px;
    }
    .last-se input{
        margin-left: -280px;
    }
    footer{
        width: 73.6%;
        height: 795px;
    }
    footer .foot1{
        padding-top: 110px;
        padding-bottom: 0px;
    }
    footer .foot1 div{
        margin-left: 15px;
        margin-right: 21px;
    }
    footer .foot1 img{
        width: 100%;
    }
    footer .foot1 p, a{
        font-size: 11px;
    }
    footer .foot1 p{
        margin-right: -88px;
    }
    footer .foot2 i{
        font-size: 30px;
        margin-top: -20px;
        padding: 5px 1px;
    }
    footer .foot1 h3{
        font-size: 13px;
    }
    footer .foot3 ul li{
        line-height: 28px;
        position: relative;
        bottom: 45px;
    }
    footer .foot4 ul li{
        line-height: 28px;
        position: relative;
        bottom: 45px;
    }
    footer .foot-last{
        font-size: 10px;
        padding-bottom: 12px;
        padding-top: 12px;
    }
}